<!DOCTYPE html>
<html>
    <head>
        <title> Template </title>
        <meta charset="utf-8"/>
        <meta name="viewport" content="width=device-width, initial-scale=1.0"/>
        <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.4.1/jquery.min.js"></script>

        <!-- *** ADJUST THE IMPORT PATHS IF NECESSARY *** -->

        <script src='../js/framework.js'></script>

        <script src='script.js'></script>

        <link rel="stylesheet" href="../css/framework.css"/>

    </head>
    <body>

    </body>
</html>