
* {
    margin: 0;
}

html, body {
    width: 100%;
    height: 100%;
}

h1, h2, h3, p {
    text-align: center;
}

h1, h2, h3 {
    color: rgb(255,140,0);
}

p {
    width: 33%;
    color: rgb(105,105,105);
}

li, span {
    color: rgb(105,105,105);
}

/* nav {
    overflow: hidden;
    position: fixed;
    top: 0;
} */

main {
    width: 100%;
    height: calc(4 * 98%);
}

#principal {
    width: 100%;
    height: 100%;
}

#principal article {
    display: flex;
    flex-direction: column;
    justify-content: space-around;
    align-items: center;
}

#inicio, #sobre, #servicos, #contato {
    width: 100%;
    height: 25%;
}

/* #inicio {  background-color: red; }
#sobre { background-color: green; }
#servicos { background-color: blue; }
#contato { background-color: yellow; }
footer { background-color: orange; } */

footer {
    
}

#inicio {
    
}

#sobre {
    
}

#servicos {
    
}

#servicos ul {
    width: 90%;
    height: 70%;
    margin: 0;
    padding: 0;
    list-style: none;
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
}

#servicos li {
    width: 30%;
    height: 60%;
    display: flex;
    flex-direction: column;
    justify-content: space-around;
    align-items: center;
    text-align: center;
    color: rgb(105,105,105);
}

#servicos img {
    margin-bottom: 50px;
}

#contato {
    
}

#contato form {
    width: 40%;
}

footer {
    background-color: rgb(255,140,0);
    width: 100%;
    height: 64px;
    display: flex;
    flex-direction: row;
    justify-content: space-around;
    align-items: center;
}

footer ul {
    width: 50%;
    height: 100%;
    list-style: none;
    margin: 0;
    padding: 0;
    display: flex;
    flex-direction: row;
    justify-content: space-around;
    align-items: center;
}

footer li {
    width: 30%;
    list-style: none;
    margin: 0;
    padding: 0;
}

footer li a {
    color: white;
}

footer span {
    color: white;
}