
.menu-open-close-button {
    margin: 0px;
    padding: 0px;
    border-width: 0px;
    width: 100%;
    text-align: left;
    cursor: pointer;
    display: block;
}

.menu-small .menu-open-close-button { 
    height: var(--menu-size-small); 
    line-height: var(--menu-size-small); 
    padding: 0 calc(var(--menu-size-small) * 0.3);
}
.menu-medium .menu-open-close-button { 
    height: var(--menu-size-medium);
    line-height: var(--menu-size-medium);
    padding: 0 calc(var(--menu-size-medium) * 0.3);
}
.menu-large .menu-open-close-button { 
    height: var(--menu-size-large); 
    line-height: var(--menu-size-large); 
    padding: 0 calc(var(--menu-size-large) * 0.3);
}
.menu-extra-large .menu-open-close-button { 
    height: var(--menu-size-extra-large); 
    line-height: var(--menu-size-extra-large); 
    padding: 0 calc(var(--menu-size-extra-large) * 0.3);
}
.menu-extra-extra-large .menu-open-close-button { 
    height: var(--menu-size-extra-extra-large); 
    line-height: var(--menu-size-extra-extra-large); 
    padding: 0 calc(var(--menu-size-extra-extra-large) * 0.3);
} 

.menu-ul {
    margin: 0;
    padding: 0;
    width: 100%;
    background-color: var(--menu-background-color);
}

.menu-a {
    width: 100%;
    display: grid;
    text-align: center;
    text-decoration: none;
    font-family: 'Arial black';
    color: var(--menu-text-color);
}

.menu-submenu-ul {
    margin: 0;
    padding: 0;
    width: 100%;
    background-color: var(--submenu-background-color);
    display: none;
    z-index: 1000;
}

.menu-small .menu-a { 
    height: var(--menu-size-small); 
    line-height: var(--menu-size-small); 
}
.menu-medium .menu-a { 
    height: var(--menu-size-medium); 
    line-height: var(--menu-size-medium); 
}
.menu-large .menu-a { 
    line-height: var(--menu-size-large); 
    height: var(--menu-size-large); 
}
.menu-extra-large .menu-a { 
    height: var(--menu-size-extra-large); 
    line-height: var(--menu-size-extra-large); 
}
.menu-extra-extra-large .menu-a { 
    height: var(--menu-size-extra-extra-large); 
    line-height: var(--menu-size-extra-extra-large); 
} 

.menu-small .menu-a-icon-right { grid-template-columns: auto var(--menu-size-small); }
.menu-medium .menu-a-icon-right { grid-template-columns: auto var(--menu-size-medium); }
.menu-large .menu-a-icon-right { grid-template-columns: auto var(--menu-size-large); }
.menu-extra-large .menu-a-icon-right { grid-template-columns: auto var(--menu-size-extra-large); }
.menu-extra-extra-large .menu-a-icon-right { grid-template-columns: auto var(--menu-size-extra-extra-large); }

.menu-small .menu-a-icon-left { grid-template-columns: var(--menu-size-small) auto; }
.menu-medium .menu-a-icon-left { grid-template-columns: var(--menu-size-medium) auto; }
.menu-large .menu-a-icon-left { grid-template-columns: var(--menu-size-large) auto; }
.menu-extra-large .menu-a-icon-left { grid-template-columns: var(--menu-size-extra-large) auto; }
.menu-extra-extra-large .menu-a-icon-left { grid-template-columns: var(--menu-size-extra-extra-large) auto; }

.menu-small .menu-a-icon-both { grid-template-columns: var(--menu-size-small) auto var(--menu-size-small); }
.menu-medium .menu-a-icon-both { grid-template-columns: var(--menu-size-medium) auto var(--menu-size-medium); }
.menu-large .menu-a-icon-both { grid-template-columns: var(--menu-size-large) auto var(--menu-size-large); }
.menu-extra-large .menu-a-icon-both { grid-template-columns: var(--menu-size-extra-large) auto var(--menu-size-extra-large); }
.menu-extra-extra-large .menu-a-icon-both { grid-template-columns: var(--menu-size-extra-extra-large) auto var(--menu-size-extra-extra-large); }

.menu-small .menu-a-i { 
    height: var(--menu-size-small); 
    line-height: var(--menu-size-small); 
}
.menu-medium .menu-a-i { 
    height: var(--menu-size-medium); 
    line-height: var(--menu-size-medium); 
}
.menu-large .menu-a-i { 
    height: var(--menu-size-large); 
    line-height: var(--menu-size-large); 
} 
.menu-extra-large .menu-a-i { 
    height: var(--menu-size-extra-large); 
    line-height: var(--menu-size-extra-large); 
} 
.menu-extra-extra-large .menu-a-i { 
    height: var(--menu-size-extra-extra-large); 
    line-height: var(--menu-size-extra-extra-large); 
} 

.menu-small .menu-a-i-suboptions { line-height: var(--menu-size-small); }
.menu-medium .menu-a-i-suboptions { line-height: var(--menu-size-medium); }
.menu-large .menu-a-i-suboptions { line-height: var(--menu-size-large); } 
.menu-extra-large .menu-a-i-suboptions { line-height: var(--menu-size-extra-large); } 
.menu-extra-extra-large .menu-a-i-suboptions { line-height: var(--menu-size-extra-extra-large); } 

.menu-submenu-ul .menu-li { 
    width: 100%; 
}

.menu-small .menu-submenu-ul .menu-li { height: var(--menu-size-small); }
.menu-medium .menu-submenu-ul .menu-li { height: var(--menu-size-medium); }
.menu-large .menu-submenu-ul .menu-li { height: var(--menu-size-large); }
.menu-extra-large .menu-submenu-ul .menu-li { height: var(--menu-size-extra-large); }
.menu-extra-extra-large .menu-submenu-ul .menu-li { height: var(--menu-size-extra-extra-large); }

.menu-submenu-ul .menu-li .menu-a {
    color: var(--submenu-text-color);
}

.menu-li:hover { background-color: var(--menu-background-color-hover); }
.menu-li:hover .menu-a { color: var(--menu-text-color-hover); }

.menu-submenu-ul .menu-li:hover { background-color: var(--submenu-background-color-hover); }
.menu-submenu-ul .menu-li:hover .menu-a { color: var(--submenu-text-color-hover); }

.menu-a:active, .menu-a:visited { color: var(--menu-text-color); }

